<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [value]="activeTab" (ionChange)="activeTab = $any($event.detail.value)">
      <ion-segment-button value="movies">Movies ({{ movieFavorites.length }})</ion-segment-button>
      <ion-segment-button value="tv">TV ({{ tvFavorites.length }})</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (activeTab === 'movies') {
    @if (movieFavorites.length) {
      <ion-list>
        @for (item of movieFavorites; track item.id) {
          <ion-item-sliding>
            <ion-item [routerLink]="['/movie', item.id]" button detail="true">
              <ion-thumbnail slot="start">
                <ion-img [src]="item.poster_path ? 'https://image.tmdb.org/t/p/w92' + item.poster_path : 'assets/no-image.png'"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ item.title }}</h2>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="remove(item)">Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-list>
    } @else {
      <div class="ion-padding ion-text-center">
        <ion-icon name="heart-outline" style="font-size: 3rem; color: var(--ion-color-medium)"></ion-icon>
        <p>No favorites yet.</p>
      </div>
    }
  }

  @if (activeTab === 'tv') {
    @if (tvFavorites.length) {
      <ion-list>
        @for (item of tvFavorites; track item.id) {
          <ion-item-sliding>
            <ion-item [routerLink]="['/tv', item.id]" button detail="true">
              <ion-thumbnail slot="start">
                <ion-img [src]="item.poster_path ? 'https://image.tmdb.org/t/p/w92' + item.poster_path : 'assets/no-image.png'"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ item.title }}</h2>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="remove(item)">Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-list>
    } @else {
      <div class="ion-padding ion-text-center">
        <ion-icon name="heart-outline" style="font-size: 3rem; color: var(--ion-color-medium)"></ion-icon>
        <p>No favorites yet.</p>
      </div>
    }
  }
</ion-content>
