<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Watchlist ({{ (watchlist$ | async)?.length || 0 }})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if ((watchlist$ | async)?.length) {
    <ion-list>
      @for (item of (watchlist$ | async); track item) {
        <ion-item-sliding>
          <ion-item
            [routerLink]="item.media_type === 'tv' ? ['/tv', item.id] : ['/movie', item.id]"
            button
            detail="true"
            >
            <ion-thumbnail slot="start">
              <ion-img
                [src]="item.poster_path ? 'https://image.tmdb.org/t/p/w92' + item.poster_path : 'assets/no-image.png'"
              ></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ item.title || item.name }}</h2>
              <p>{{ item.media_type === 'tv' ? 'TV Show' : 'Movie' }}</p>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="remove(item)"
              >Remove</ion-item-option
              >
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-list>
    } @else {
      <div class="ion-padding ion-text-center">
        <ion-icon
          name="bookmark-outline"
          style="font-size: 3rem; color: var(--ion-color-medium)"
        ></ion-icon>
        <p>Your watchlist is empty.</p>
      </div>
    }

    <ng-template #empty>
      <div class="ion-padding ion-text-center">
        <ion-icon
          name="bookmark-outline"
          style="font-size: 3rem; color: var(--ion-color-medium)"
        ></ion-icon>
        <p>Your watchlist is empty.</p>
      </div>
    </ng-template>
  </ion-content>
