<div class="movie-card">
  <ion-img
    class="img"
    src="{{
      movie.poster_path
        ? 'https://image.tmdb.org/t/p/w185' + movie.poster_path
        : 'assets/no-image.png'
    }}"
    [routerLink]="
      movie.media_type === 'tv' ? ['/tv', movie.id] : ['/movie', movie.id]
    "
  ></ion-img>
  <section class="details ion-padding-start">
    <h1
      class="ion-no-margin"
      [routerLink]="
        movie.media_type === 'tv' ? ['/tv', movie.id] : ['/movie', movie.id]
      "
    >
      {{ movie.title || movie.name }}
    </h1>
    <p class="release">
      {{ movie.release_date || movie.first_air_date | date }}
    </p>
    <p class="ion-no-margin">
      {{ movie.vote_average }}
      <ion-icon name="star"></ion-icon>
    </p>
    <section>
      <ion-button
        fill="outline"
        title="Add to Watched Movies"
        (click)="addToWatchedMovies(movie)"
        color="{{ isWatched ? 'danger' : 'medium' }}"
      >
        <ion-icon
          name="{{ isWatched ? 'add-circle' : 'add-circle-outline' }}"
        ></ion-icon>
      </ion-button>
      <ion-button
        fill="outline"
        title="Add to Favorites"
        (click)="addToFavoriteMovies(movie)"
        color="{{ isFavorite ? 'danger' : 'medium' }}"
      >
        <ion-icon
          name="{{ isFavorite ? 'heart' : 'heart-outline' }}"
        ></ion-icon>
      </ion-button>
      <ion-button
        fill="outline"
        title="Add to Watchlist"
        (click)="addToWatchlist(movie)"
        color="{{ isWatchlist ? 'danger' : 'medium' }}"
      >
        <ion-icon
          name="{{ isWatchlist ? 'bookmark' : 'bookmark-outline' }}"
        ></ion-icon>
      </ion-button>
    </section>
  </section>
</div>
