<div class="poster-card" (click)="navigate()">
  <div class="poster-card__wrap">
    <ion-img [src]="posterUrl" [alt]="title" class="poster-card__img"></ion-img>
    @if (item?.vote_average) {
      <span class="poster-card__rating">
        ⭐ {{ item.vote_average | number: "1.1-1" }}
      </span>
    }
    @if (userRating) {
      <span class="poster-card__user-rating">
        ★{{ userRating }}
      </span>
    }
  </div>
  <p class="poster-card__title">{{ title }}</p>
  <p class="poster-card__year">{{ year }}</p>
</div>
