<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ list?.name || 'List' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (!list) {
    <div class="ion-padding">
      <p>List not found.</p>
    </div>
  }

  @if (list) {
    <ion-list>
      @for (item of list.items; track item) {
        <ion-item>
          <ion-thumbnail slot="start">
            @if (item.poster_path) {
              <ion-img
                [src]="'https://image.tmdb.org/t/p/w92' + item.poster_path"
              ></ion-img>
            }
          </ion-thumbnail>
          <ion-label>
            <h2>{{ item.title || item.name }}</h2>
            <p>{{ item.media_type | titlecase }}</p>
          </ion-label>
          <ion-button
            slot="end"
            fill="clear"
            color="danger"
            (click)="removeItem(item.media_type, item.id)"
            >
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      }
    </ion-list>
  }
</ion-content>
