.hero__actions {
  ion-button {
    --color: var(--app-text);
    --color-activated: var(--ion-color-primary);
    font-size: 0.75rem;
  }

  .active-btn {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }
}
