.hero__actions {
  ion-button {
    --color: #222;
    --color-activated: var(--ion-color-primary);
    font-size: 0.75rem;
  }

  .active-btn {
    --background: var(--ion-color-primary);
    --color: #fff;
  }
}
