@if (isLoading || items?.length) {
  <div class="carousel">
    <div class="carousel__header">
      <h2 class="carousel__title">{{ title }}</h2>
      @if (!isLoading && seeAllRoute) {
        <a
          class="carousel__see-all"
          [routerLink]="seeAllRoute"
          [queryParams]="seeAllQueryParams"
          >See All</a
          >
        }
      </div>
      <!-- Loaded -->
      @if (!isLoading) {
        <div class="carousel__scroll">
          @for (item of items; track item) {
            <app-poster-card
              [item]="item"
              [mediaType]="mediaType"
              >
            </app-poster-card>
          }
        </div>
      }
      <!-- Skeleton -->
      @if (isLoading) {
        <div class="carousel__scroll">
          @for (s of skeletons; track s) {
            <app-skeleton-card></app-skeleton-card>
          }
        </div>
      }
    </div>
  }
