<ion-header>
  <ion-toolbar>
    <ion-title>All Movies</ion-title>
  </ion-toolbar>
</ion-header>

@if (movies$ | async; as movies) {
  <ion-content>
    @if (!movies.length) {
      <div class="error-message-container">
        @if (!isOffline) {
          <p>An error occurred. Please try again later.</p>
        }
        @if (isOffline) {
          <p>Please Check Your Internet Connection.</p>
        }
      </div>
    }
    @if (movies.length) {
      <ion-list>
        @for (movie of movies; track movie) {
          <ion-item>
            <app-movie-card [movie]="movie"></app-movie-card>
          </ion-item>
        }
      </ion-list>
    }
    <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
        >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
}
